/*LEFT-SIDE NAVIGATION*/

* {
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
.navigation-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 0;
  padding: 0;
}
.navigation{
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 17.68%;
  padding: 30px;
  padding-right: 110px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.navigation .top {
  width: 100px;
  height: 100px;
  padding: 20px;
  padding-left: 30px;
  border: 2px solid royalblue;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-radius: 180px;
  font-size: 60px;
}
.navigation hr{
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid royalblue;
}
.navigation p{
  margin-top: 30px;
}
.navigation a{
  color: black;
  text-decoration: none;
  /*BLUE*/
  text-decoration-color: royalblue;
}

.nav1:hover{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
  color: black !important;
  text-decoration: line-through !important;
  text-decoration-color: royalblue !important;
}
.navigation .top a{
  color: black !important;
}

.navigation span{
  text-decoration: line-through;
  color: black;
  /*BLUE*/
  text-decoration-color: royalblue;
}


/*DIVIDER 1*/
.divider-1{
  height: 7vh;
  width: 81.5vw;
  background-color: #ffff77;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, .5));
}


/*BACKGROUND 0*/
#bg-0{
  height: 90vh;
  background: linear-gradient(to top right, royalblue 0%,royalblue 50%,#000000 50%,white 50%,white 100%);
  width: 81.5vw;
}
#bg-0 .intro{
  margin-right: 500px;
  padding-top: 50px;
}
#bg-0 .intro h1{
  color: black;
  margin-top: 350px;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}
#bg-0 .intro p{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#bg-0 .image-container img{
  position: absolute;
  height: 24%;
  width: 46.5%;
  top: 0;
  right: 0;
}


/*BACKGROUND 1*/
#bg-1{
  color: black;
  padding-top: 50px;
  height: 130vh;
  width: 81.5vw;
  background-color: royalblue;
  background: linear-gradient(to bottom left, royalblue 0%,royalblue 50%,#000000 50%,white 50%,white 100%);
}
#bg-1 .info{
  margin-right: 100px;
  margin-left: 150px;
}
#bg-1 .info h2{
  margin-bottom: 20px;
  text-decoration: underline;
  color: white;
}
#bg-1 .info p{
  font-size: 18px;
  text-align: left;
  text-indent: 50px;
}
#bg-1 .info .formal-info{
  line-height: 25px;
  background: white;
  padding: 10px;
  margin: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#bg-1 .personal-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#bg-1 .personal-container hr{
  width: 550px;
  border: 1px solid black;
}
#bg-1 .info .personal-info{
  width: 100%;
  margin-right: 50px;
}
#bg-1 .skills-container{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  padding-top: 20px;
}
#bg-1 .skills-container h3{
  margin-bottom: 0;
  font-size: 30px;
  text-decoration: underline;
}

#bg-1 .skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  padding-top: 50px;
  justify-content: space-around;
}
#bg-1 .skills div {
  padding: 20px;
  color: royalblue;
  font-weight: bolder;
}


/*BACKGROUND 3*/

@keyframes pulsate {
  0% {transform: scale(1, 1); box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  50% {transform: scale(0.97, 0.97); box-shadow: none;}
  100% {transform: scale(1, 1); box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
}

#bg-3{
  padding-top: 50px;
  height: 90vh;
  width: 81.5vw;
  background-color: white;
  background: linear-gradient(to top left, royalblue 0%,royalblue 50%,#000000 50%,white 50%,white 100%);
}
#bg-3 h2{
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
  color: black;
}
#bg-3 p{
  color: black;
}
#bg-3 .projects{
  width: 28%;
  height: 60%;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 22px;
  background-color: white;
  color: white;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.4s ease-out;
}

#bg-3 .projects p{
  text-align: left;
  margin-left: 3px;
  margin-right: 2px;
  color: white;
}

#bg-3 .projects hr{
  width: 125px;
}

#bg-3 .projects:hover{
  animation: pulsate 0.2s ease-out;
}

#bg-3 .project-link{
  margin-top: 50px;
  margin-bottom: 80px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, .4);
  background-color: royalblue;
}

#bg-3 a{
  text-decoration: underline;
  text-decoration-style: double;

  font-size: 18px;
  color: royalblue;
}
#bg-3 a:hover{

}

#bg-3 .demo{
  margin-right: 100px;
}

/*BACKGROUND 4*/
#bg-4{
  padding-top: 50px;
  height: 60vh;
  width: 81.5vw;
  background: linear-gradient(to top left, white 0%,white 50%,royalblue 50%,royalblue 50%,royalblue 100%);

}
#bg-4 h2{
  font-weight: bold;
  margin-bottom: 140px;
  text-decoration: underline;
  color: white;
}
#bg-4 span{
  font-size: 18px;
  margin-right: 60px;
  margin-left: 60px;
  font-weight: bold;
}
#bg-4 span:first-of-type{
  margin-right: 70px;
  margin-left: 10px;
}
#bg-4 span:last-of-type{
  margin-right: 45px;
  margin-left: 50px;
}
#bg-4 .contact-links{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
#bg-4 .link-container {
  width: 100px;
  height: 100px;
  margin: 80px;
  margin-top: 40px;
  background-color: royalblue;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 1px solid black;
  transition: all 0.4s ease-out;
}
#bg-4 .link-container:hover{
  animation: pulsate 0.2s ease-out;
}
#bg-4 .links{
  padding: 17px;
  width: 100%;
  height: 100%;
}
#bg-4 .links img{
  height: 64px;
  width: 64px;
}
#bg-4 a{
  text-decoration: none;
  color: white;
}
