body {
  font-family: 'Arimo', sans-serif;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 70px;
}

.bg-0 {
  height: 100vh;
  color: #d9ad7c;
  background-image: url('images/Background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}

#intro{
  position: absolute;
  top: 32%;
  left: 30%;

}
#intro a{
  color: #f0efef;
  font-size: 120px;
  text-decoration: none;
  font-family: 'Permanent Marker';
  text-shadow: 2px 2px 4px #000000;
}

.bg-1{
  height: 100vh;
  color: #f0efef;
  background-color: #618685;
}
.bg-2 {
  height: 100vh ;
  color: #f0efef;
  background-color: #d9ad7c;
}
.bg-3 {
  color: #f0efef;
  padding-bottom: 100px;
  background-color: #618685;
}

.technical_skills h2 {
  margin-right: 70px;
}

.technical {
  margin-left: 30px;
}

.skills {
  font-size: 20px;
}

.related_skills {
  margin-top: 200px;
}

.related {
  margin-left: 30px;
}

.skill-logo {
  color: #618685;
  font-size: 15px;
}

.related_skills h2 {
  margin-right: 30px;
}

.thumbnail {
  width: 400px;
  height: 330px;
  color: #618685;
  padding-bottom: 15px;
}

.thumbnail img {
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
}

#project1 {
  margin-top: 30px;
}

#project1 a {
  color: #d9ad7c;
}

.drop_down {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 37px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.bg-4 {
  background-color: #d9ad7c;
  color: #618685;
}

.contact {
  font-size: 15px;
  margin-top: 30px;
}

.mail {
  text-decoration: none;
  color: #618685;
}

.logo {
  color: #618685;
}

hr {
  width: 220px;
}

.bg-1 h3 {
  font-size: 35px;
}

.about-me {
  padding: 10px 30px 10px 30px;
}
.about_me_description{
  margin-top: 100px;
}

.headshot{
  margin-top: 100px;
}
.p0{
  margin-bottom: 0;
  font-size: 25px;
  font-weight: bold;
}
.p1 {
  font-size: 18px;
  text-align: left;
  padding-right: 15px;
  margin: 70px 20px 10px 10px;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(97, 134, 133, 0);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar-brand{
  font-family: 'Permanent Marker';
  letter-spacing: 0px;
  font-size: 30px;
}
.navbar li a, .navbar .navbar-brand {
  transition: color 0.5s ease;
  color: #f0efef !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a, .navbar-brand:hover {
  background-color: rgba(97, 134, 133, 0) !important;
  color: red !important;
}
